@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Rubik:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Inter', sans-serif;
}

:root {
  --main-red: #F55A5A;
  --white: #fff;
  --dark: #2B283A;
  --light-gray: #918E9B;
}

header {
  background: var(--main-red);
}

.row {
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
}

/* FIXME SE PUEDE MEJORAR */
main {
  margin-block: 1rem;
}

main > .card {
  margin-block: 2.5rem;
}

.header {
  text-align: center;
  padding: .5rem 0;
  gap: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 0.9rem;
  color: var(--white);
  font-weight: 500;
}

/* Card */
.card {
  display: flex;
  height: 168px;
  max-width: 478px;
  gap: 1.2rem;
  justify-content: space-between;
  font-size: 0.65rem;
  align-items: center;
  margin: 0 auto;
}

.card .card__image {
  min-width: 128px;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.card .card__info h2 {
  font-size: 1.5rem;
}

.card .card__location {
  display: flex;
  align-items: center;
  margin-bottom: .35rem;
  gap: .4rem;
}

.card .card__location a {
  text-decoration: underline;
  color: var(--light-gray);
}

.card .card__location span {
  letter-spacing: 0.17rem;
  text-transform: uppercase;
  color: var(--dark);
}

.card .card__date {
  font-weight: 700;
  margin-top: .85rem;
  margin-bottom: .35rem;
  color: var(--dark);
}

.card .card__description {
  line-height: 1rem;
}